<div class="wrapper h-100 d-flex">
  <div class="sidebar bg-primary">
    <ul class="list-unstyled">
      <li><a [routerLink]="['/pages/users']">Users</a></li>
      <li><a [routerLink]="['/pages/transactions']">Transactions</a></li>
    </ul>
  </div>
  <div class="content h-100 d-flex flex-column">
    <div class="p-3 bg-white">
      user
    </div>
    <div class="main-content p-3">
        <div class="rounded shadow-sm h-100 bg-white h-100 p-3">
            <router-outlet></router-outlet>
        </div>
    </div>

  </div>
</div>
