/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

body, html{
  height: 100%;
}
.content{
  background: $gray-100;
  flex: 1;
  margin-left: 250px;
}
